*{
	box-sizing: border;
}



.row .column {
float: right;
Width: 30.73%;
Padding:15.8px;
}

.row: :after {
content: "";
cle#About{
  text-align-last: center;
}r: both;
}


.about{
Width: 100%;
Padding:499px;
padding-top:10px;
 padding-bottom:30px;
    text-align: center;
	}
.bee{
	
	background-color:#87CEFA;
}
.Products{
padding-top:2px;
	 width: 200px;
	 text-align: center;
	
}

.pic{
 display:flex;
 align-items: center;
 justify-content: space-between;
 Width: 30.73%;
Padding:15.8px;
 }	  
 
 .pic .yt {
	  display:flex;
	  flex-direction:column;
	  align-items: center;
 }  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	 


	
